<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<!-- All SPC5 Component extension shall have the namespace "com.st.tools.spc5"-->
   <extension
         id="org.chibios.spc5.components.hal.osal.nil"
         name="NIL RTOS Portable OSAL Component"
         point="com.st.tools.spc5.extension.v1">
      <component
            headerName="osal.h"
            hidden="false"
            icon="rsc/chibios.ico"
            initFunction="osalInit"
            isPlatform="false">
            <description>
                NIL RTOS OSAL interface layer. This component is required in order to interface nIL RTOS with the SPC5-HAL drivers.
            </description>
            <categories>
               <category
                     id="NIL RTOS/Portable Components">
               </category>
            </categories>
            <configuration>
               <description>
                  NIL RTOS OSAL adapter for SPC5-HAL.
               </description>
               <image
                     align="left"
                     file="rsc/chibios48x48.png">
                  <text>
                     NIL RTOS is GPL3-licensed free software. A special exception has been added to the GPL3 in order to allow inclusion in closed source applications, details are in the exception.txt document.
                  </text>
               </image>
            </configuration>
            <exportedFeatures>
               <exportedFeature
                     brief="This interface declares a generic OSAL service."
                     exclusive="false"
                     id="org.chibios.features.osal">
               </exportedFeature>
               <exportedFeature
                     brief="This interface declares an OSAL service for SPC5xx."
                     exclusive="false"
                     id="org.chibios.features.osal.spc5xx">
               </exportedFeature>
            </exportedFeatures>
            <requiredFeatures>
               <requiredFeature
                     id="com.st.tools.spc5.features.platform.spc5xx">
               </requiredFeature>
               <requiredFeature
                     id="org.chibios.spc5.features.nil.kernel">
               </requiredFeature>
            </requiredFeatures>
      </component>
   </extension>

</plugin>
