<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="org.chibios.spc5.components.nil.kernel.port.gcc.spc57emxx_hsm"
         name="NIL RTOS SPC57EMxx HSM Kernel Port Component"
         point="com.st.tools.spc5.extension.v1">
      <component
            headerName="isrs.h"
            hidden="true"
            icon="rsc/chibios.ico"
            initFunction="isrInit"
            isPlatform="false">
            <description>
                Kernel GCC port layer for Power Architecture core on the SPC57EMxx HSM.
            </description>
            <categories>
               <category
                     id="NIL RTOS/Platforms/SPC57EMxx HSM">
               </category>
            </categories>
            <configuration>
               <description>
                  Power Architecture GCC kernel port options and settings.
               </description>
               <image
                     align="left"
                     file="rsc/chibios48x48.png">
                  <text>
                     NIL RTOS is GPL3-licensed free software. A special exception has been added to the GPL3 in order to allow inclusion in closed source applications, details are in the exception.txt document.
                  </text>
               </image>
               <group
                     expanded="true"
                     name="ISRs Configuration"
                     style="collapsable">
                  <description>
                     ISRs definition.
                  </description>
                  <property
                        brief="List of the interrupt vectors to be enabled on startup."
                        editable="true"
                        length="0"
                        min="0"
                        name="ISRs"
                        required="false"
                        type="list"
                        value="Identifier,Number,Priority,Name Override">
                     <group
                           columns="1"
                           expanded="true"
                           name="ISR Settings"
                           style="collapsable">
                        <description>
                           Interrupt vector settings.
                        </description>
                        <property
                              brief="Unique symbolic name to be assigned to the vector."
                              default="IDENTIFIER"
                              editable="true"
                              name="Identifier"
                              regex="^[a-zA-Z_][a-zA-Z0-9_]*$"
                              required="true"
                              type="string">
                        </property>
                        <property
                              brief="Number of the interrupt vector to be enabled."
                              default="0"
                              editable="true"
                              max="154"
                              min="0"
                              name="Number"
                              required="true"
                              type="unsigned">
                        </property>
                        <property
                              brief="Cores where the ISR is routed."
                              default="0"
                              editable="false"
                              name="Cores"
                              required="true"
                              type="enum"
                              value="Core 4">
                        </property>
                        <property
                              brief="Priority to be assigned to the interrupt vector."
                              default="7"
                              editable="true"
                              name="Priority"
                              required="true"
                              type="enum"
                              value="1,2,3,4,5,6,7,8,9,10,11,12,13,14,15">
                        </property>
                        <property
                              brief="This setting, if specified, overrides the default vector name which is in the form &quot;vectorN&quot;."
                              editable="true"
                              name="Name Override"
                              regex="^[a-zA-Z_][a-zA-Z0-9_]*$|^$"
                              required="false"
                              type="string">
                        </property>
                        <property
                              brief="ISR code, if empty then the ISR must be written by the user."
                              editable="true"
                              name="ISR Code"
                              required="false"
                              type="formatted">
                           <default>
                              /*
 * ISR function.
 */
CH_IRQ_HANDLER(ISR_NAME) {

  CH_IRQ_PROLOGUE();

  /* ISR code here.*/

  CH_IRQ_EPILOGUE();
}
                           </default>
                           <text>
                              Put your ISR code in this box, an ISR template code is generated by default. Note that if this bos is fully empty then the ISR file is not generated and the user can define the ISR in any other module, ISR initialization is still generated.
                           </text>
                        </property>
                     </group>
                  </property>
               </group>
            </configuration>
            <exportedFeatures>
               <exportedFeature
                     brief="Generic NIL RTOS port interface."
                     exclusive="false"
                     id="org.chibios.spc5.features.nil.kernel.port">
               </exportedFeature>
               <exportedFeature
                     exclusive="false"
                     id="org.chibios.spc5.features.nil.kernel.port.gcc">
               </exportedFeature>
               <exportedFeature
                     exclusive="false"
                     id="org.chibios.spc5.features.nil.kernel.port.gcc.ppc">
               </exportedFeature>
               <exportedFeature
                     exclusive="false"
                     id="org.chibios.spc5.features.nil.kernel.port.gcc.ppc.spc57emxx_hsm">
               </exportedFeature>
            </exportedFeatures>
            <requiredFeatures>
               <requiredFeature
                     id="com.st.tools.spc5.features.platform.spc57emxx.z0">
               </requiredFeature>
            </requiredFeatures>
      </component>
   </extension>
</plugin>
