<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<!-- All SPC5 Component extension shall have the namespace "com.st.tools.spc5"-->
   <extension
         id="org.chibios.spc5.components.kernel.port.gcc.spc560pxx"
         name="ChibiOS-RT SPC560Pxx Kernel Port Component"
         point="com.st.tools.spc5.extension">
      <component
            hidden="true"
            isPlatform="false">
            <description>
                Kernel GCC port layer for Power Architecture core on the SPC560Pxx.
            </description>
            <groups
                  name="Power Architecture Settings">
               <description>
                  Power Architecture GCC port options and settings.
               </description></groups>
            <exportedFeatures>
               <exportedFeature
                     brief="Generic ChibiOS/RT port interface."
                     exclusive="true"
                     id="org.chibios.spc5.features.kernel.port">
               </exportedFeature>
               <exportedFeature
                     exclusive="true"
                     id="org.chibios.spc5.features.kernel.port.gcc">
               </exportedFeature>
               <exportedFeature
                     exclusive="true"
                     id="org.chibios.spc5.features.kernel.port.gcc.ppc">
               </exportedFeature>
               <exportedFeature
                     exclusive="true"
                     id="org.chibios.spc5.features.kernel.port.gcc.ppc.spc560pxx">
               </exportedFeature>
            </exportedFeatures>
            <requiredFeatures>
               <requiredFeature
                     id="com.st.tools.spc5.features.platform.spc560pxx">
               </requiredFeature>
            </requiredFeatures>
      </component>
   </extension>

</plugin>
