<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension point="com.st.tools.spc5.appbundle">
  <application name="ChibiOS-RT STM32F4xx Test Application">
      <description>Test application for the SPC56ELxx created using the SPC5's Application Wizard.</description>
      <category name="Board">
        <description>Supported Board</description>
        <metadata value="STM32F4XX_NUCLEO" />
      </category>
      <category name="Device">
        <description>Supported Device</description>
        <metadata value="STM32F401" />
      </category>
      <category name="Drivers">
        <description>Enabled Drivers</description>
        <metadata value="PAL" />
        <metadata value="Serial" />
      </category>
      <category name="RTOS">
        <description>Supported Operating System</description>
        <metadata value="ChibiOS/RT" />
      </category>
    </application>
  </extension>
</plugin>
