<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<!-- All SPC5 Component extension shall have the namespace "com.st.tools.spc5"-->
   <extension
         id="org.chibios.spc5.components.hal.platform.spc560pxx"
         name="ChibiOS-RT SPC560Pxx HAL Platform Component"
         point="com.st.tools.spc5.extension.v1">
      <component
            hidden="true"
            icon="rsc/chibios.ico"
            isPlatform="false">
            <description>
                ChibiOS/RT SPC560Pxx low level drivice drivers files.
            </description>
            <categories>
               <category
                     id="ChibiOS-RT/SPC560Pxx">
               </category>
            </categories>
            <configuration>
               <description>
                  SPC560Pxx Low Level Drivers options and settings.
               </description>
               <image
                     align="left"
                     file="rsc/chibios48x48.png">
                  <text>
                     ChibiOS/RT is GPL3-licensed free software. A special exception has been added to the GPL3 in order to allow inclusion in closed source applications, details are in the exception.txt document.
                  </text>
               </image>
               <group
                     expanded="false"
                     name="Initialization Settings"
                     style="collapsable">
                  <description>
                     Generic initialization-related settings.
                  </description>
                  <property
                        brief="Activating this options bypasses the whole clock initialization phase."
                        default="false"
                        editable="true"
                        name="Do Not Init"
                        required="true"
                        type="boolean">
                  </property>
                  <property
                        brief="Enabling this options disables all consistency checks on the clock initialization values."
                        default="false"
                        editable="true"
                        name="Allow Overclocking"
                        required="true"
                        type="boolean">
                  </property>
                  <property
                        brief="Disables the SWT watchdog on startup."
                        default="true"
                        editable="true"
                        name="Disable Watchdog"
                        required="true"
                        type="boolean">
                  </property>
                  <group
                        expanded="false"
                        name="FMPLL0 Settings"
                        style="collapsable">
                     <description>
                        FMPLL0 settings, errors in settings or invalid settings are detected at compile time.
                     </description>
                     <property
                           brief="FMPLL0 Input Divider Value."
                           default="5"
                           editable="true"
                           max="15"
                           min="1"
                           name="IDF Value"
                           required="true"
                           type="unsigned">
                     </property>
                     <property
                           brief="FMPLL0 Multiplier Value."
                           default="32"
                           editable="true"
                           max="96"
                           min="32"
                           name="NDIV Value"
                           required="true"
                           type="unsigned">
                     </property>
                     <property
                           brief="FMPLL0 Output Divider Value."
                           default="1"
                           editable="true"
                           name="ODF Value"
                           required="true"
                           type="enum"
                           value="SPC5_FMPLL_ODF_DIV2,SPC5_FMPLL_ODF_DIV4,SPC5_FMPLL_ODF_DIV8,SPC5_FMPLL_ODF_DIV16">
                     </property>
                  </group>
                  <group
                        expanded="false"
                        name="FMPLL1 Settings"
                        style="collapsable">
                     <description>
                        FMPLL1 settings, errors in settings or invalid settings are detected at compile time.
                     </description>
                     <property
                           brief="FMPLL1 Input Divider Value."
                           default="5"
                           editable="true"
                           max="15"
                           min="1"
                           name="IDF Value"
                           required="true"
                           type="unsigned">
                     </property>
                     <property
                           brief="FMPLL1 Multiplier Value."
                           default="60"
                           editable="true"
                           max="96"
                           min="32"
                           name="NDIV Value"
                           required="true"
                           type="unsigned">
                     </property>
                     <property
                           brief="FMPLL1 Output Divider Value."
                           default="1"
                           editable="true"
                           name="ODF Value"
                           required="true"
                           type="enum"
                           value="SPC5_FMPLL_ODF_DIV2,SPC5_FMPLL_ODF_DIV4,SPC5_FMPLL_ODF_DIV8,SPC5_FMPLL_ODF_DIV16">
                     </property>
                  </group>
                  <group
                        expanded="false"
                        name="Clocks"
                        style="collapsable">
                     <description>
                        Settings related to the internal clocks distribution.
                     </description>
                     <property
                           brief="AUX0 (Motor Control) clock source selection."
                           default="3"
                           editable="true"
                           name="AUX0 Clock Source"
                           required="true"
                           type="enum"
                           value="IRC,XOSC,FMPLL0,FMPLL1">
                     </property>
                     <property
                           brief="Divider for the motor control peripherals clock, zero means disabled clock."
                           default="2"
                           editable="true"
                           name="Motor Control Clock Divider"
                           required="true"
                           type="enum"
                           value="0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16">
                     </property>
                     <property
                           brief="AUX0 (FMPLL1_DIV) clock source selection."
                           default="0"
                           editable="false"
                           name="AUX1 Clock Source"
                           required="true"
                           type="enum"
                           value="FMPLL1">
                     </property>
                     <property
                           brief="Divider for the FMPLL1_DIV clock, zero means disabled clock."
                           default="2"
                           editable="true"
                           name="FMPLL1_DIV Clock Divider"
                           required="true"
                           type="enum"
                           value="0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16">
                     </property>
                     <property
                           brief="AUX0 (SP) clock source selection."
                           default="3"
                           editable="true"
                           name="AUX2 Clock Source"
                           required="true"
                           type="enum"
                           value="IRC,XOSC,FMPLL0,FMPLL1,FMPLL1_1D1">
                     </property>
                     <property
                           brief="Divider for the SP peripheral clock, zero means disabled clock."
                           default="2"
                           editable="true"
                           name="SP Clock Divider"
                           required="true"
                           type="enum"
                           value="0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16">
                     </property>
                     <property
                           brief="AUX0 (FlexRay) clock source selection."
                           default="3"
                           editable="true"
                           name="AUX3 Clock Source"
                           required="true"
                           type="enum"
                           value="IRC,XOSC,FMPLL0,FMPLL1,FMPLL1_1D1">
                     </property>
                     <property
                           brief="Divider for the FlexRay peripheral clock, zero means disabled clock."
                           default="2"
                           editable="true"
                           name="FR Clock Divider"
                           required="true"
                           type="enum"
                           value="0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16">
                     </property>
                     <property
                           brief="Function to be executed in case of clock initialization failure, this function must not return."
                           default="chSysHalt()"
                           editable="true"
                           name="Clock Failure Hook"
                           required="true"
                           type="string">
                     </property>
                  </group>
               </group>
               <group
                     columns="2"
                     expanded="false"
                     name="IRQ Priority Settings"
                     style="collapsable">
                  <description>
                     IRQ priority settings, the defaults are usually acceptable.
                  </description>
                  <line>
                     line body text
                  </line>
                  <property
                        brief="IRQ priority to be assigned to the LINFlex0 peripheral."
                        default="7"
                        editable="true"
                        name="LINFlex0"
                        required="true"
                        type="enum"
                        value="1,2,3,4,5,6,7,8,9,10,11,12,13,14,15">
                  </property>
                  <property
                        brief="IRQ priority to be assigned to the LINFlex1 peripheral."
                        default="7"
                        editable="true"
                        name="LINFlex1"
                        required="true"
                        type="enum"
                        value="1,2,3,4,5,6,7,8,9,10,11,12,13,14,15">
                  </property>
               </group>
               <group
                     columns="2"
                     expanded="false"
                     name="eDMA Settings"
                     style="collapsable">
                  <description>
                     DMA priority settings, the defaults are usually acceptable.
                  </description>
                  <line></line>
               </group>
               <group
                     columns="2"
                     expanded="false"
                     name="LINFlex Settings"
                     style="collapsable">
                  <description>
                     Settings related to the LINFlex units, note that the selected drivers must be enabled in the portable HAL configuration.
                  </description>
                  <property
                        brief="Driver owning the LINFlex0."
                        default="0"
                        editable="true"
                        name="LINFlex0"
                        required="true"
                        type="enum"
                        value="None,Serial">
                  </property>
                  <property
                        brief="Driver owning the LINFlex1."
                        default="0"
                        editable="true"
                        name="LINFlex1"
                        required="true"
                        type="enum"
                        value="None,Serial">
                  </property>
               </group>
            </configuration>
            <exportedFeatures>
               <exportedFeature
                     exclusive="true"
                     id="org.chibios.spc5.features.hal.platform.spc560pxx">
               </exportedFeature>
               <exportedFeature
                     exclusive="true"
                     id="org.chibios.spc5.features.hal.platform">
               </exportedFeature>
               <exportedFeature
                     exclusive="false"
                     id="org.chibios.spc5.features.hal.implementations.hal">
               </exportedFeature>
               <exportedFeature
                     exclusive="false"
                     id="org.chibios.spc5.features.hal.implementations.pal">
               </exportedFeature>
               <exportedFeature
                     exclusive="false"
                     id="org.chibios.spc5.features.hal.implementations.serial">
               </exportedFeature>
            </exportedFeatures>
            <requiredFeatures>
               <requiredFeature
                     id="org.chibios.spc5.features.hal">
               </requiredFeature>
               <requiredFeature
                     id="org.chibios.spc5.features.kernel">
               </requiredFeature>
               <requiredFeature
                     id="org.chibios.spc5.features.kernel.port.gcc.ppc.spc560pxx">
               </requiredFeature>
            </requiredFeatures>
      </component>
   </extension>

</plugin>
