<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <extension
         id="org.chibios.spc5.components.chibios_unitary_tests_engine"
         name="ChibiOS Unit Tests Engine Component"
         point="com.st.tools.spc5.extension.v1">
        <component
              headerName="ch_test.h"
              hidden="false"
              icon="rsc/chibios.ico"
              isPlatform="false">
            <description>
                ChibiOS Unit Tests Engine component.
            </description>
            <categories>
               <category
                     id="ChibiOS/Portable Components">
               </category>
            </categories>
            <configuration>
               <description>
                  This component allows to define a test suite for a generic software component and then generate the test code automatically.
A test suite is divided in&quot;sequences&quot;, each sequence can contain one or more &quot;test cases&quot;. Test cases are composed of snippets of code called &quot;steps&quot;.
The code is conventionally generated under ./source/test and is overwritten each time the test configuration is changed.
               </description>
               <image
                     file="rsc/chibios_48x48.png">
                  <text>
                     Copyright (C) Giovanni Di Sirio. All rights reserved.
                  </text>
               </image>
               <group
                     name="Description">
                  <property
                        brief="Text to be used as copyright statement, it must be a C comment."
                        editable="true"
                        name="Copyright"
                        required="true"
                        type="formatted">
                     <default>
                        /* Copyright statement.*/
                     </default>
                  </property>
                  <property
                        brief="Text to be used as Test Suite introduction."
                        editable="true"
                        name="Introduction"
                        required="true"
                        type="text">
                     <default>
                        Test Suite introduction text.
                     </default>
                  </property>
               </group>
               <group
                     name="Global Data and Code"
                     style="button">
                  <description>
                     In this section it is possible to define global functions and data structures to be shared among all test sequences.
                  </description>
                  <property
                        brief="Global Header file content."
                        editable="true"
                        name="Global Definitions"
                        required="false"
                        type="formatted">
                  </property>
                  <property
                        brief="Global Code file content."
                        editable="true"
                        name="Global Code"
                        required="false"
                        type="formatted">
                  </property>
               </group>
               <property
                     brief="Test Sequences part of the current Test Suite."
                     editable="true"
                     length="1"
                     name="Sequences"
                     required="false"
                     type="list"
                     value="Type[96],Brief[200]">
                  <text>
                     A Test Suite is composed by one or more Test Sequences.
                  </text>
                  <group
                        columns="1"
                        expanded="true"
                        name="Sequence"
                        style="collapsable">
                     <description>
                        A Test Sequence is composed of one or more Test Cases that are sequentially executed.
                     </description>
                     <property
                           brief="Type of tests executed in this Test Sequence."
                           default="0"
                           editable="true"
                           name="Type"
                           required="true"
                           style="combo"
                           type="enum"
                           value="Internal Tests,External Tests,Benchmarks">
                        <text>
                           Internal Tests are tests that do not require any setup nor test hardware. External Tests may require external hardware or have other special requirements for execution. Benchmarks are tests that cannot fail and are meant for measurement of certain features of the system.
                        </text>
                     </property>
                     <property
                           brief="One line brief description."
                           default="Brief description."
                           editable="true"
                           name="Brief"
                           required="false"
                           type="string">
                     </property>
                     <property
                           brief="Test Sequence description."
                           editable="true"
                           name="Description"
                           required="false"
                           type="text">
                        <text>
                           Detailed description of the Test Sequence. Formatting is not retained so use only text assuming it will be reformatted.
                        </text>
                        <default>
                           Test Sequence description here.
                        </default>
                     </property>
                     <property
                           brief="Shared code."
                           editable="true"
                           name="Shared Code"
                           required="false"
                           type="formatted">
                        <text>
                           This code is shared among all test cases belonging to this sequence. Usually you can define your static variables here.
                        </text>
                     </property>
                     <property
                           brief="Test Cases part of the current Test Sequence."
                           editable="true"
                           length="1"
                           name="Cases"
                           required="false"
                           type="list"
                           value="Brief[300]">
                        <group
                              name="Case">
                           <description>
                              A Test Case is composed of a Setup function, an Execute function and a Teardown function. You need just to write the functions body without the declaration part.
                           </description>
                           <property
                                 brief="One line brief description."
                                 default="Brief description."
                                 editable="true"
                                 name="Brief"
                                 required="false"
                                 type="string">
                           </property>
                           <property
                                 brief="Detailed Test Case description."
                                 editable="true"
                                 name="Description"
                                 required="false"
                                 type="text">
                              <text>
                                 Detailed description of the Test Case. Formatting is not retained so use only text assuming it will be reformatted.
                              </text>
                              <default>
                                 Test Case description here.
                              </default>
                           </property>
                           <property
                                 brief="Preprocessor expression enabling this test case."
                                 editable="true"
                                 name="Condition"
                                 required="false"
                                 type="string">
                              <text>
                                 An #if preprocessor directive is added to the test case in order to make it compilable only if the specified switch is defined and evaluating to &quot;true&quot;. Complex expressions should be enclosed in parenthesis because more conditions could be added.
                              </text>
                           </property>
                           <group
                                 columns="1"
                                 expanded="false"
                                 name="Various Code"
                                 style="collapsable">
                              <description>
                                 Here you can define code to be execute before and after the current test case's steps.
                              </description>
                              <property
                                    brief="Test-setup code."
                                    editable="true"
                                    name="Setup Code"
                                    required="false"
                                    type="formatted">
                                 <text>
                                    This code is used in order to prepare the execution of the test case before the test steps are executed.
Note that the code is reformatted automatically, curly braces around blocks are mandatory or the reformatting will fail.
                                 </text>
                              </property>
                              <property
                                    brief="Test-teardown code."
                                    editable="true"
                                    name="Teardown Code"
                                    required="false"
                                    type="formatted">
                                 <text>
                                    This code is used in order to cleanup the execution environment after the execution of the test steps. Note, this code is always executed regardless the failure or success of the test case.
Note that the code is reformatted automatically, curly braces around blocks are mandatory or the reformatting will fail.
                                 </text>
                              </property>
                              <property
                                    brief="Local variables for the current test case."
                                    editable="true"
                                    name="Local Variables"
                                    required="false"
                                    type="formatted">
                                 <text>
                                    Local variables for the current test case.
Note that the code is reformatted automatically, curly braces around blocks are mandatory or the reformatting will fail.
                                 </text>
                              </property>
                           </group>
                           <property
                                 brief="Test Steps of the current Test Case."
                                 editable="true"
                                 length="1"
                                 name="Steps"
                                 required="false"
                                 type="list"
                                 value="Description[300]">
                              <group
                                    expanded="true"
                                    name="Step"
                                    style="collapsable">
                                 <description>
                                    A test step is a snipped of code composed by a comment (the step description) and a limited number of lines of codes normally terminated by one or more assertions. The first step usually only contains the variable declarations for the test case.
                                 </description>
                                 <property
                                       brief="Detailed step description."
                                       editable="true"
                                       name="Description"
                                       required="true"
                                       type="text">
                                    <text>
                                       Detailed description of the Test Step. Formatting is not retained so use only text assuming it will be reformatted.
                                    </text>
                                    <default>
                                       Test Step description here.
                                    </default>
                                 </property>
                                 <property
                                       brief="Requirements tags, separate them using spaces."
                                       editable="true"
                                       name="Tags"
                                       regex="^([a-zA-Z_]+[a-zA-Z0-9_\-.]*\s*)*$"
                                       required="false"
                                       type="string">
                                 </property>
                                 <property
                                       brief="Step code."
                                       editable="true"
                                       name="Code"
                                       required="false"
                                       type="formatted">
                                    <text>
                                       Note that the code is reformatted automatically, curly braces around blocks are mandatory or the reformatting will fail.
                                    </text>
                                 </property>
                              </group>
                           </property>
                        </group>
                     </property>
                  </group>
               </property>
            </configuration>
            <exportedFeatures>
               <exportedFeature
                     brief="ChibiOS Unit Tests Engine component."
                     exclusive="false"
                     id="org.chibios.features.chibios_test_engine">
               </exportedFeature>
            </exportedFeatures>
<!--            <requiredFeatures>
               <requiredFeature
                     id="org.chibios.features.osal">
               </requiredFeature>
               <requiredFeature
                     id="org.chibios.features.spc5hal">
               </requiredFeature>
            </requiredFeatures> -->
        </component>
    </extension>
</plugin>
