<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<!-- All SPC5 Component extension shall have the namespace "com.st.tools.spc5"-->
   <extension
         id="org.chibios.spc5.components.osal.chibios.spc5xx"
         name="ChibiOS/RT SPC5xx OSAL Component"
         point="com.st.tools.spc5.extension.v1">
      <component
            headerName="osal.h"
            hidden="false"
            icon="rsc/chibios.ico"
            initFunction="osalInit"
            isPlatform="false">
            <description>
                ChibiOS/RT OSAL interface layer. This component is required in order to interface ChibiOS/RT with the SPC5-HAL drivers.
            </description>
            <categories>
               <category
                     id="ChibiOS-RT/Platforms/SPC5xx">
               </category>
            </categories>
            <configuration>
               <description>
                  This component does not require any configuration.
               </description>
               <image
                     align="left"
                     file="rsc/chibios48x48.png">
                  <text>
                     ChibiOS/RT is GPL3-licensed free software. A special exception has been added to the GPL3 in order to allow inclusion in closed source applications, details are in the exception.txt document.
                  </text>
               </image>
               <group
                     columns="1"
                     expanded="true"
                     name="ISRs"
                     style="collapsable">
                  <description>
                     Interrupt related options.
                  </description>
                  <property
                        brief="List of the interrupt vectors to be enabled on startup."
                        editable="true"
                        length="0"
                        min="0"
                        name="Enabled Vectors"
                        required="false"
                        type="list"
                        value="Identifier,Number,Priority,Name Override">
                     <group
                           columns="1"
                           expanded="true"
                           name="Vector"
                           style="collapsable">
                        <description>
                           Interrupt vector settings.
                        </description>
                        <property
                              brief="Unique symbolic name to be assigned to the vector."
                              default="IDENTIFIER"
                              editable="true"
                              name="Identifier"
                              regex="^[a-zA-Z_][a-zA-Z0-9_]*$"
                              required="true"
                              type="string">
                        </property>
                        <property
                              brief="Number of the interrupt vector to be enabled."
                              default="0"
                              editable="true"
                              max="511"
                              min="0"
                              name="Number"
                              required="true"
                              type="unsigned">
                        </property>
                        <property
                              brief="Priority to be assigned to the interrupt vector."
                              default="7"
                              editable="true"
                              name="Priority"
                              required="true"
                              type="enum"
                              value="1,2,3,4,5,6,7,8,9,10,11,12,13,14,15">
                        </property>
                        <property
                              brief="This setting, if specified, overrides the default vector name which is in the form &quot;vectorN&quot;."
                              editable="true"
                              name="Name Override"
                              regex="^[a-zA-Z_][a-zA-Z0-9_]*$|^$"
                              required="false"
                              type="string">
                        </property>
                        <property
                              brief="ISR code, if empty then the ISR must be written by the user."
                              editable="true"
                              name="ISR Code"
                              required="false"
                              type="formatted">
                           <text>
                              The ISR must be written as follow:

OSAL_IRQ_HANDLER(name) {

  OSAL_IRQ_PROLOGUE();

  /* ISR code here.*/

  OSAL_IRQ_EPILOGUE();
}
                           </text>
                        </property>
                     </group>
                  </property>
                  <property
                        brief="Comma separated list of headers to be included in the ISRs module other than components.h."
                        editable="true"
                        name="Headers"
                        regex="^$|^([a-zA-Z_]([a-zA-Z0-9_\-/]*\.h[a-zA-Z_]*))|^(([a-zA-Z_]([a-zA-Z0-9_\-/]*\.h[a-zA-Z_]*),)+([a-zA-Z_]([a-zA-Z0-9_\-/]*\.h[a-zA-Z_]*)))$"
                        required="false"
                        type="string">
                  </property>
               </group>
            </configuration>
            <exportedFeatures>
               <exportedFeature
                     brief="This interface declares a generic OSAL service."
                     exclusive="false"
                     id="org.chibios.features.osal">
               </exportedFeature>
               <exportedFeature
                     brief="This interface declares an OSAL service for SPC5xx."
                     exclusive="false"
                     id="org.chibios.features.osal.spc5xx">
               </exportedFeature>
            </exportedFeatures>
            <requiredFeatures>
               <requiredFeature
                     id="com.st.tools.spc5.features.platform.spc5xx">
               </requiredFeature>
               <requiredFeature
                     id="org.chibios.spc5.features.kernel">
               </requiredFeature>
            </requiredFeatures>
      </component>
   </extension>

</plugin>
