<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="com.st.spc5.components.nil.rtos.spc57emxx_hsm.stonly"
         name="ST HSM RTOS for SPC57EMxx HSM Component"
         point="com.st.tools.spc5.extension.v1">
      <component
            headerName="nil.h,isrs.h"
            hidden="false"
            icon="rsc/st16x16.png"
            initFunction="isrInit,chSysInit"
            isPlatform="false">
            <description>
                This is a meta component that depends on all components required to create a HSM RTOS environment for the STMicroelectronics SPC57EMxx HSM automotive microcontrollers family.
            </description>
            <categories>
               <category
                     id="ST HSM RTOS/Platforms/SPC57EMxx HSM">
               </category>
            </categories>
            <configuration>
               <description>
                  This is a meta components with no settings.
               </description>
               <image
                     align="left"
                     file="rsc/st48x48.png">
                  <text>
                     HSM RTOS has been licensed to STMicroelectronics for use in resident system application code in SPC5 microcontrollers.
                  </text>
               </image>
            </configuration>
            <requiredFeatures>
               <requiredFeature
                     id="com.st.tools.spc5.features.build.gccenv">
               </requiredFeature>
               <requiredFeature
                     id="com.st.tools.spc5.features.platform.spc57emxx.z0">
               </requiredFeature>
            </requiredFeatures>
            <exportedFeatures>
               <exportedFeature
                     brief="HSM RTOS"
                     exclusive="false"
                     id="com.st.tools.spc5.services.rtos">
               </exportedFeature>
               <exportedFeature
                     brief="Generic HSM RTOS environment."
                     exclusive="false"
                     id="org.chibios.spc5.components.chibios.nil">
               </exportedFeature>
               <exportedFeature
                     brief="SPC57EMxx HSM HSM RTOS environment."
                     exclusive="false"
                     id="org.chibios.spc5.components.chibios.nil.spc57emxx_hsm">
               </exportedFeature>
            </exportedFeatures>
      </component>
   </extension>

</plugin>
