<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<!-- All SPC5 Component extension shall have the namespace "com.st.tools.spc5"-->
   <extension
         id="org.chibios.spc5.components.kernel.rt.arm.v7m"
         name="ChibiOS-RT for ARMv7-M Component"
         point="com.st.tools.spc5.extension.v1">
      <component
            headerName="ch.h"
            hidden="true"
            initFunction="chSysInit"
            icon="rsc/chibios.ico"
            isPlatform="false">
            <description>
                ChibiOS/RT for ARM Cortex-M (V7M).
            </description>
            <categories>
               <category
                     id="ChibiOS/RT">
               </category>
            </categories>
            <configuration>
               <description>
                  Portable Kernel options and settings.
               </description>
               <image
                     align="left"
                     file="rsc/chibios48x48.png">
                  <text>
                     ChibiOS/RT is GPL3-licensed free software.
                  </text>
               </image>
               <group
                     expanded="true"
                     name="Kernel Settings">
                  <description>
                     General kernel settings.
                  </description>
                  <property
                        brief="Optimizes the kernel for speed rather than size."
                        default="true"
                        editable="true"
                        name="Optimize for Speed"
                        required="true"
                        type="boolean">
                  </property>
                  <property
                        brief="If enabled then an idle thread is not spawned and the main() function acts as idle thread."
                        default="false"
                        editable="true"
                        name="No Internal Idle Thread"
                        required="true"
                        type="boolean">
                  </property>
               </group>
               <group
                     columns="2"
                     expanded="true"
                     name="System Time"
                     style="collapsable">
                  <description>
                     Miscellaneous kernel parameters.
                  </description>
                  <property
                        brief="Width in bits of the system time type."
                        default="1"
                        editable="true"
                        name="System Time Resolution"
                        required="true"
                        type="enum"
                        value="16,32">
                     <text>
                        The system time resolution, together with the system tick frequency, defines the maximum time for intervals and timeouts.
                     </text>
                  </property>
                  <property
                        brief="Frequency of system tick."
                        default="1000"
                        editable="true"
                        name="System Tick Clock Frequency"
                        required="true"
                        type="unsigned">
                     <text>
                        The system tick frequency defines the time resolution for intervals and timeouts.
                     </text>
                  </property>
                  <property
                        brief="When greater or equal to two enables the tick-less mode."
                        default="0"
                        editable="true"
                        name="Time Delta"
                        required="true"
                        type="enum"
                        value="0,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20">
                     <text>
                        The zero values enables the classic ticked mode, values greater or equal to two enable the tick-less mode. Higher deltas decrease timing accuracy but make possible higher absolute system tick frequencies.
                     </text>
                  </property>
                  <property
                        brief="Time quantum for roud robin scheduling in ticks. This option is not compatible with tick-less mode."
                        default="0"
                        editable="true"
                        name="Time Quantum"
                        required="true"
                        type="unsigned">
                     <override
                           editable="test:../time_delta/value/text()=&quot;0&quot;">
                     </override>
                  </property>
               </group>
               <group
                     columns="3"
                     expanded="true"
                     name="Subsystems"
                     style="collapsable">
                  <description>
                     Options for enabling or disabling the various subsystems.
                  </description>
                  <property
                        brief="Time measurement sysbsystem enable."
                        default="true"
                        editable="true"
                        name="Use Time Measurement"
                        required="true"
                        type="boolean">
                  </property>
                  <property
                        brief="Enables the kernel registry for enhanced debugging."
                        default="true"
                        editable="true"
                        name="Use Registry"
                        required="true"
                        type="boolean">
                  </property>
                  <property
                        brief="Enables the function chThdWait()."
                        default="true"
                        editable="true"
                        name="Use Wait/Exit"
                        required="true"
                        type="boolean">
                  </property>
                  <property
                        brief="Enables semaphores."
                        default="true"
                        editable="true"
                        name="Use Semaphores"
                        required="true"
                        type="boolean">
                  </property>
                  <property
                        brief="If enabled then semaphore queues are ordered by priority."
                        default="false"
                        editable="true"
                        name="Use Semaphores Priority"
                        required="true"
                        type="boolean">
                  </property>
                  <padding></padding>
                  <property
                        brief="Enables mutexes."
                        default="true"
                        editable="true"
                        name="Use Mutexes"
                        required="true"
                        type="boolean">
                  </property>
                  <property
                        brief="If enabled then mutextes can be recursively taken."
                        default="false"
                        editable="true"
                        name="Use Recursive Mutexes"
                        required="true"
                        type="boolean">
                  </property>
                  <padding></padding>
                  <property
                        brief="Enables condition variables, requires mutexes."
                        default="true"
                        editable="true"
                        name="Use Condition Variables"
                        required="true"
                        type="boolean">
                  </property>
                  <property
                        brief="Enables timeouts on the coditional variables API."
                        default="true"
                        editable="true"
                        name="Use Condition Variables with Timeout"
                        required="true"
                        type="boolean">
                  </property>
                  <padding></padding>
                  <property
                        brief="Enables event flags and event sources."
                        default="true"
                        editable="true"
                        name="Use Events"
                        required="true"
                        type="boolean">
                  </property>
                  <property
                        brief="Enables timeouts on the events API."
                        default="true"
                        editable="true"
                        name="Use Events with Timeout"
                        required="true"
                        type="boolean">
                  </property>
                  <padding></padding>
                  <property
                        brief="Enables synchronous messages."
                        default="true"
                        editable="true"
                        name="Use Messages"
                        required="true"
                        type="boolean">
                  </property>
                  <property
                        brief="If enabled then synchronous messages queues are ordered by priority."
                        default="false"
                        editable="true"
                        name="Use Messages Priority"
                        required="true"
                        type="boolean">
                  </property>
                  <padding></padding>
                  <property
                        brief="Enables mailboxes."
                        default="true"
                        editable="true"
                        name="Use Mailboxes"
                        required="true"
                        type="boolean">
                  </property>
               </group>
               <group
                     columns="2"
                     expanded="true"
                     name="Memory Management"
                     style="collapsable">
                  <property
                        brief="Enables the kernel core memory manager."
                        default="true"
                        editable="true"
                        name="Use Memory Core Allocator"
                        required="true"
                        type="boolean">
                  </property>
                  <property
                        brief="Size for memory heap, if set to zero then all the available heap area is used."
                        default="0"
                        editable="true"
                        name="Memory Core Size"
                        required="true"
                        type="unsigned">
                  </property>
                  <property
                        brief="Enables the heap allocator."
                        default="true"
                        editable="true"
                        name="Use Heap Allocator"
                        required="true"
                        type="boolean">
                  </property>
                  <property
                        brief="Enables the pool allocator."
                        default="true"
                        editable="true"
                        name="Use Memory Pools Allocator"
                        required="true"
                        type="boolean">
                  </property>
                  <property
                        brief="Enables dynamic threading, requires the heap and/or pool allocators."
                        default="true"
                        editable="true"
                        name="Use Dynamic Extensions"
                        required="true"
                        type="boolean">
                  </property>
               </group>
               <group
                     columns="2"
                     expanded="true"
                     name="Debug Options"
                     style="collapsable">
                  <description>
                     Debug-related options.
                  </description>
                  <property
                        brief="Enables advanced kernel statistics."
                        default="false"
                        editable="true"
                        name="Enable Statistics"
                        required="true"
                        type="boolean">
                  </property>
                  <property
                        brief="Enables the system state checker."
                        default="false"
                        editable="true"
                        name="Enable System State Checker"
                        required="true"
                        type="boolean">
                  </property>
                  <property
                        brief="Enables functions parameters checks."
                        default="false"
                        editable="true"
                        name="Enable Function Parameters Checks"
                        required="true"
                        type="boolean">
                  </property>
                  <property
                        brief="Enables kernel assertions."
                        default="false"
                        editable="true"
                        name="Enable Assertions"
                        required="true"
                        type="boolean">
                  </property>
                  <property
                        brief="Enables threads stack overflow checks."
                        default="false"
                        editable="true"
                        name="Enable Stack Check"
                        required="true"
                        type="boolean">
                  </property>
                  <property
                        brief="Enables the filler for stack areas, allows to calculate stack usage."
                        default="false"
                        editable="true"
                        name="Enable Fill Threads"
                        required="true"
                        type="boolean">
                  </property>
                  <property
                        brief="Enables threads profiling, not compatible with the tick-less mode."
                        default="false"
                        editable="true"
                        name="Enable Threads Profiling"
                        required="true"
                        type="boolean">
                     <override
                           editable="test:../../system_timer_settings/time_delta/value/text()=&quot;0&quot;">
                     </override>
                  </property>
                  <line></line>
                  <text>
                     Trace buffer related settings. Note that the tracing options are just the initial setup, single events can be also enabled/disabled at runtime using the tracer API.
                  </text>
                  <property
                        brief="Enables the tracing subsystem."
                        default="false"
                        editable="true"
                        name="Trace Buffer Enable"
                        required="true"
                        type="boolean">
                  </property>
                  <property
                        brief="Size of the trace buffer, each entry takes 20 bytes of RAM on 32 bits CPUs."
                        default="128"
                        editable="true"
                        min="16"
                        name="Trace Buffer Size"
                        required="true"
                        type="unsigned">
                     <override
                           editable="test:../trace_buffer_enable/value/text()=&quot;true&quot;">
                     </override>
                  </property>
                  <property
                        brief="If enabled then context switches are traced."
                        default="false"
                        editable="true"
                        name="Trace Context Switch"
                        required="true"
                        type="boolean">
                     <override
                           editable="test:../trace_buffer_enable/value/text()=&quot;true&quot;">
                     </override>
                  </property>
                  <property
                        brief="If enabled then ISR-enter and ISR-leave events are traced. Note this can fill the trace buffer very quickly."
                        editable="true"
                        name="Trace ISRs"
                        required="true"
                        type="boolean">
                     <override
                           editable="test:../trace_buffer_enable/value/text()=&quot;true&quot;">
                     </override>
                  </property>
                  <property
                        brief="If enabled then the halt event is traced, halt events are always final."
                        editable="true"
                        name="Trace Halt"
                        required="true"
                        type="boolean">
                     <override
                           editable="test:../trace_buffer_enable/value/text()=&quot;true&quot;">
                     </override>
                  </property>
                  <property
                        brief="If enabled then user events are traced, user events are generated by explicit calls to the tracer chDbgWriteTrace() API."
                        editable="true"
                        name="Trace User Events"
                        required="true"
                        type="boolean">
                     <override
                           editable="test:../trace_buffer_enable/value/text()=&quot;true&quot;">
                     </override>
                  </property>
               </group>
               <group
                     columns="1"
                     expanded="true"
                     name="Hooks"
                     style="collapsable">
                  <description>
                     The kernel functionality can be extended by using the hooks mechanisms. Hooks allow to insert user-defined code in specific kernel code paths. Note that hook code is inserted into a macro definition so lines must be terminated by a \.
                  </description>
                  <property
                        brief="This code is hooked into the CH_CFG_THREAD_EXT_FIELDS macro."
                        editable="true"
                        name="Threads Extra Fields Hook"
                        required="false"
                        type="formatted">
                  </property>
                  <property
                        brief="This code is hooked into the CH_CFG_THREAD_EXT_INIT_HOOK macro."
                        editable="true"
                        name="Threads Initialization Hook"
                        required="false"
                        type="formatted">
                  </property>
                  <property
                        brief="This code is hooked into the CH_CFG_THREAD_EXT_EXIT_HOOK macro."
                        editable="true"
                        name="Threads Finalization Hook"
                        required="false"
                        type="formatted">
                  </property>
                  <property
                        brief="This code is hooked into the CH_CFG_THREAD_CONTEXT_SWITCH_HOOK macro."
                        editable="true"
                        name="Threads Context Switch Hook"
                        required="false"
                        type="formatted">
                  </property>
                  <property
                        brief="This code is hooked into the CH_CFG_IRQ_PROLOGUE_HOOK macro."
                        editable="true"
                        name="IRQ Prologue Hook"
                        required="false"
                        type="formatted">
                  </property>
                  <property
                        brief="This code is hooked into the CH_CFG_IRQ_EPILOGUE_HOOK macro."
                        editable="true"
                        name="IRQ Epilogue Hook"
                        required="false"
                        type="formatted">
                  </property>
                  <property
                        brief="This code is hooked into the CH_CFG_IDLE_ENTER_HOOK macro."
                        editable="true"
                        name="Idle Enter Hook"
                        required="false"
                        type="formatted">
                  </property>
                  <property
                        brief="This code is hooked into the CH_CFG_IDLE_LEAVE_HOOK macro."
                        editable="true"
                        name="Idle Leave Hook"
                        required="false"
                        type="formatted">
                  </property>
                  <property
                        brief="This code is hooked into the CH_CFG_IDLE_LOOP_HOOK macro."
                        editable="true"
                        name="Idle Loop Hook"
                        required="false"
                        type="formatted">
                  </property>
                  <property
                        brief="This code is hooked into the CH_CFG_SYSTEM_TICK_EVENT_HOOK macro."
                        editable="true"
                        name="System Tick Hook"
                        required="false"
                        type="formatted">
                  </property>
                  <property
                        brief="This code is hooked into the CH_CFG_SYSTEM_HALT_HOOK macro."
                        editable="true"
                        name="System Halt Hook"
                        required="false"
                        type="formatted">
                  </property>
                  <property
                        brief="This code is hooked into the CH_CFG_TRACE_HOOK macro."
                        editable="true"
                        name="Trace Hook"
                        required="false"
                        type="formatted">
                  </property>
               </group>
               <group
                     columns="2"
                     expanded="true"
                     name="ARMv7-M Specific Settings"
                     style="collapsable">
                  <description>
                     Settings specific of the ARMv7-M port.
                  </description>
                  <property
                        brief="Stack size allocated for the Idle Thread."
                        default="16"
                        editable="true"
                        name="Idle Thread Stack Size"
                        required="true"
                        type="unsigned">
                     <text>
                        The stack usage of the Idle Thread is affected by compiler and optimization level. 16 is a safe value, change it at your own risk.
                     </text>
                  </property>
                  <property
                        brief="Per-thread stack requirement for IRQ servicing."
                        default="64"
                        editable="true"
                        name="IRQ Required Stack"
                        required="true"
                        type="unsigned">
                     <text>
                        IRQ servicing require some space in thread stacks. The requirement is affected by the compiler and optimization level,  64 is a safe value, change it at your own risk. Space saved optimizing this option is multiplied for the number of threads in the system.
                     </text>
                  </property>
                  <property
                        brief="If enabled then the file chcore_timer_alt.h is included."
                        default="false"
                        editable="true"
                        name="Use Alternate Timer Implementation"
                        required="true"
                        type="boolean">
                     <text>
                        If enabled then the file chcore_timer_alt.h is included. It is application responsibility to provide the file and implement a complete timer interface within.
                     </text>
                  </property>
                  <property
                        brief="If enabled then the MPU is used for stack overflow check."
                        default="false"
                        editable="true"
                        name="Enable MPU"
                        required="true"
                        type="boolean">
                     <text>
                        This options enables the use of MPU for stacks overflow checks. The stack checking option must be enabled in the Debug Options section. This option uses 32 additional bytes per-thread.
                     </text>
                  </property>
                  <property
                        brief="Enables a WFI instruction in the Idle Thread loop."
                        default="false"
                        editable="true"
                        name="Enable WFI"
                        required="true"
                        type="boolean">
                     <text>
                        This option reduces power consumption but is not compatible with some debuggers, only enable on the final code.
                     </text>
                  </property>
                  <property
                        brief="If enabled then IRQs are globally enabled/disabled by the kernel critical zones."
                        default="false"
                        editable="true"
                        name="Simplified IRQ Masking Handling"
                        required="true"
                        type="boolean">
                     <text>
                        This option makes the kernel smaller and faster but adds jitter and latency to IRQ servicing because IRQ are globally masked instead of partially masked.
                     </text>
                  </property>
               </group>
           </configuration>
            <exportedFeatures>
               <exportedFeature
                     brief="ChibiOS/RT kernel API interface."
                     exclusive="false"
                     id="org.chibios.spc5.features.kernel.rt">
               </exportedFeature>
               <exportedFeature
                     brief="ChibiOS/RT kernel configuration interface."
                     exclusive="false"
                     id="org.chibios.spc5.features.kernel.rt.configuration">
               </exportedFeature>
               <exportedFeature
                     brief="ChibiOS port layer."
                     exclusive="false"
                     id="org.chibios.spc5.features.kernel.port">
               </exportedFeature>
               <exportedFeature
                     brief="ChibiOS port layer for ARMv7-M."
                     exclusive="false"
                     id="org.chibios.spc5.features.kernel.port.armv7m">
               </exportedFeature>
            </exportedFeatures>
            <requiredFeatures>
               <requiredFeature
                     id="org.chibios.spc5.features.platform.armv7m">
               </requiredFeature>
               <requiredFeature
                     id="org.chibios.spc5.features.platform.headers.cmsis">
               </requiredFeature>
               <requiredFeature
                     id="org.chibios.spc5.features.platform.headers.cmparams">
               </requiredFeature>
            </requiredFeatures>
      </component>
   </extension>

</plugin>
