<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="org.chibios.spc5.components.rtos.spc563mxx"
         name="ChibiOS/RT free embedded RTOS for SPC563Mxx Component"
         point="com.st.tools.spc5.extension">
      <component
            headerName="ch.h,hal.h"
            initFunction="halInit,chSysInit"
            isPlatform="false">
            <description>
                This is a meta component that depends on all components required to create a ChibiOS/RT environment for the STMicroelectronics SPC563Mxx automotive microcontrollers family.
            </description>
            <groups
                  name="ChibiOS/RT Settings">
               <description>
                  This is a meta components with no settings.
               </description>
            </groups>
            <requiredFeatures>
               <requiredFeature
                     id="com.st.tools.spc5.features.build.gccenv">
               </requiredFeature>
               <requiredFeature
                     id="com.st.tools.spc5.features.platform.spc563mxx">
               </requiredFeature>
            </requiredFeatures>
            <exportedFeatures>
               <exportedFeature
                     brief="Generic ChibiOS/RT environment."
                     exclusive="false"
                     id="org.chibios.spc5.components.chibios">
               </exportedFeature>
               <exportedFeature
                     brief="SPC563Mxx ChibiOS/RT environment."
                     exclusive="false"
                     id="org.chibios.spc5.components.chibios.spc563mxx">
               </exportedFeature>
            </exportedFeatures>
      </component>
   </extension>

</plugin>
