<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <extension
         id="org.chibios.spc5.components.hal.osal.rt"
         name="ChibiOS HAL OSAL for RT Component"
         point="com.st.tools.spc5.extension.v1">
        <component
              hidden="true"
              icon="rsc/chibios.ico"
              initFunction=""
              isPlatform="false">
            <description>
              ChibiOS HAL OSAL for RT kernel.
            </description>
            <categories>
               <category
                     id="ChibiOS/HAL">
               </category>
            </categories>
            <configuration>
               <description>
                  ChibiOS Operating System Abstraction Layer (OSAL) options and settings.
               </description>
               <image
                     file="rsc/chibios_48x48.png">
                  <text>
                     Copyright (C) Giovanni Di Sirio. All rights reserved.
                  </text>
               </image>
            </configuration>
            <exportedFeatures>
               <exportedFeature
                     brief="This interface declares a generic OSAL service."
                     exclusive="false"
                     id="org.chibios.features.hal.osal">
               </exportedFeature>
               <exportedFeature
                     brief="This interface declares an OSAL service for ChibiOS/RT"
                     exclusive="false"
                     id="org.chibios.features.hal.osal.rt">
               </exportedFeature>
            </exportedFeatures>
            <requiredFeatures>
               <requiredFeature
                     id="org.chibios.spc5.features.kernel.rt">
               </requiredFeature>
            </requiredFeatures>
        </component>
    </extension>
</plugin>
