<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="org.chibios.spc5.components.hal.platform.spc5xx.ip.eqadc_v1.configuration"
         name="ChibiOS-RT SPC5xx eQADC Configuration Component"
         point="com.st.tools.spc5.extension.v1">
      <component
            hidden="false"
            icon="rsc/chibios.ico"
            isPlatform="false">
            <description>
                ADC driver implementation for the SPC5xx eQADC unit.
            </description>
            <categories>
               <category
                     id="ChibiOS-RT/Platforms/SPC5xx (all devices)">
               </category>
            </categories>
            <configuration>
               <description>The eQADC driver implements six virtual ADC drivers using the six internal eQADC FIFOs.
ADCD1...ADCD3 represent 3 levels of priority over access of the physical unit ADC0. ADCD4...ADCD6 represent 3 levels of priority over access of the physical unit ADC1.</description>
               <image
                     align="left"
                     file="rsc/chibios48x48.png">
                  <text>
                     ChibiOS/RT is GPL3-licensed free software. A special exception has been added to the GPL3 in order to allow inclusion in closed source applications, details are in the exception.txt document.
                  </text>
               </image>
               <group
                     expanded="true"
                     name="Conversion Groups">
                  <description>
                     Conversion groups are objects describing a conversion process. The  required data structures and definitions are automatically generated.
                  </description>
                  <property
                        brief="List of the available conversion groups."
                        editable="true"
                        length="0"
                        name="Groups"
                        required="true"
                        type="list"
                        value="ADC Driver,Symbolic Name">
                     <group
                           expanded="true"
                           name="Conversion Group Settings"
                           style="collapsable">
                        <description>
                           Settings related to the conversion group.
                        </description>
                        <property
                              brief="Conversion Groups are only usable with a specific driver."
                              default="0"
                              editable="true"
                              name="ADC Driver"
                              required="true"
                              style="combo"
                              type="enum"
                              value="ADCD1 (ADC0/FIFO0),ADCD2 (ADC0/FIFO1),ADCD3 (ADC0/FIFO2),ADCD4 (ADC1/FIFO3),ADCD5 (ADC1/FIFO4),ADCD6 (ADC1/FIFO5)">
                        </property>
                        <property
                              brief="Name for the conversion group, it must be compatibile with C identifiers."
                              default="group_name"
                              editable="true"
                              name="Symbolic Name"
                              regex="[a-zA-Z_][a-zA-Z0-9_]*"
                              required="true"
                              type="string">
                        </property>
                        <property
                              brief="Conversion mode for this group, it can be linear buffer or circular buffer."
                              default="0"
                              editable="true"
                              name="Conversion Mode"
                              required="true"
                              style="combo"
                              type="enum"
                              value="Linear Buffer,Circular Buffer">
                        </property>
                        <group
                              columns="1"
                              expanded="false"
                              name="Triggers"
                              style="collapsable">
                           <description>
                              Trigger related settings.
                           </description>
                           <property
                                 brief="Trigger mode for this conversion group."
                                 default="0"
                                 editable="true"
                                 name="Mode"
                                 required="true"
                                 style="combo"
                                 type="enum"
                                 value="SW Trigger, HW Trigger">
                           </property>
                           <text>
                              Note, the exact mapping of the TSEL field depends on the FIFO number, consult the reference manual in section 15.8.17 for details about the physical mappings.
                           </text>
                           <property
                                 brief="Main trigger source."
                                 default="0"
                                 editable="true"
                                 name="TSEL"
                                 required="true"
                                 type="enum"
                                 value="ETSEL (secondary selector),eTPUx,eMIOSx,eTRIGx">
                           </property>
                           <text>
                              Note, the exact mapping of the ETSEL field depends on the FIFO number, consult the reference manual in section 15.8.20 for details about the physical mappings.
                           </text>
                           <property
                                 brief="Extended trigger source (0..31)."
                                 default="0"
                                 editable="true"
                                 max="31"
                                 min="0"
                                 name="ETSEL"
                                 required="true"
                                 type="unsigned">
                           </property>
                        </group>
                        <group
                              columns="1"
                              expanded="false"
                              name="Notifications"
                              style="collapsable">
                           <description>
                              The driver notifies the application using callbacks, note that callbacks are invoked from ISR context so be careful with the code you put there, efficiency is mandatory. Leave empty if callbacks are not needed.
                           </description>
                           <property
                                 brief="Name of the callback invoked on conversion middle point and conversion end."
                                 editable="true"
                                 name="Conversion Callback"
                                 regex="[a-zA-Z_]*[a-zA-Z0-9_]*"
                                 required="false"
                                 type="string">
                           </property>
                           <property
                                 brief="Name of the callback invoked on conversion error."
                                 editable="true"
                                 name="Error Callback"
                                 regex="[a-zA-Z_]*[a-zA-Z0-9_]*"
                                 required="false"
                                 type="string">
                           </property>
                        </group>
                        <group
                              columns="1"
                              expanded="false"
                              name="Channels"
                              style="collapsable">
                           <description>
                              List of the channels composing the conversion group, each channel has its own attributes.
                           </description>
                           <property
                                 brief="Sequence of the channels belonging to the conversion group."
                                 editable="true"
                                 length="1"
                                 min="1"
                                 name="Sequence"
                                 required="true"
                                 type="list"
                                 value="0">
                              <group
                                    columns="2"
                                    expanded="true"
                                    name="Channel Settings"
                                    style="collapsable">
                                 <description>
                                    Settings related to the channel in a sequence.
                                 </description>
                                 <property
                                       brief="Identifier of the analog channel."
                                       default="0"
                                       editable="true"
                                       name="Analog Channel"
                                       required="true"
                                       type="enum"
                                       value="AN0,AN1,AN2,AN3,AN4,AN5,AN6,AN7,AN8,AN9,AN10,AN11,AN12,AN13,AN14,AN15,AN16,AN17,AN18,AN19,AN20,AN21,AN22,AN23,AN24,AN25,AN26,AN27,AN28,AN29,AN30,AN31,AN32,AN33,AN34,AN35,AN36,AN37,AN38,AN39,VRH,VRL,VREF25,VREF50,VREF75,BANDGAP,DAN0,DAN1,DAN2,DAN3,TEMP_SENSOR,SPARE">
                                 </property>
                                 <property
                                       brief="Sample size in bits."
                                       default="0"
                                       editable="true"
                                       name="Sample Width"
                                       required="true"
                                       type="enum"
                                       value="12,10,8">
                                 </property>
                                 <property
                                       brief="Channel sampling time in cycles."
                                       default="0"
                                       editable="true"
                                       name="Sampling Time"
                                       required="true"
                                       type="enum"
                                       value="2,8,64,128">
                                 </property>
                                 <property
                                       brief="Selects the calibrated or uncalibrated mode for the channel."
                                       default="true"
                                       editable="true"
                                       name="Calibrated"
                                       required="true"
                                       type="boolean">
                                 </property>
                              </group>
                           </property>
                        </group>
                     </group>
                  </property>
               </group>
            </configuration>
      </component>
   </extension>

</plugin>
