<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<!-- All SPC5 Component extension shall have the namespace "com.st.tools.spc5"-->
   <extension
         id="org.chibios.spc5.components.board.spc560bcxx"
         name="ChibiOS-RT SPC560B/Cxx Board Component"
         point="com.st.tools.spc5.extension">
      <component
            hidden="true"
            isPlatform="false">
            <description>
                ChibiOS/RT SPC560B/Cxx board description files.
            </description>
            <groups
                  name="Board Settings">
               <description>
                  Board options and settings.
               </description>
               <group
                     name="Identification">
                  <description>
                     Board info related settings.
                  </description>
                  <property
                        brief="An identifier for the board, a macro is generated\nprefixed with &quot;BOARD_&quot;."
                        default="GENERIC_SPC560BCXX"
                        editable="true"
                        name="Board Identifier"
                        regex="[a-zA-Z_][a-zA-Z0-9_]*"
                        required="true"
                        type="string">
                  </property>
                  <property
                        brief="A readable name for the board, must not contain double quotes."
                        default="Generic SPC560B/Cxx"
                        editable="true"
                        name="Board Name"
                        required="true"
                        type="string">
                  </property>
               </group>
               <group
                     name="Clock Settings">
                  <description>
                     Clock related settings.
                  </description>
                  <property
                        brief="XOSC crystal frequency in Hz."
                        default="8000000"
                        editable="true"
                        max="16000000"
                        min="4000000"
                        name="XOSC Clock"
                        required="true"
                        type="unsigned">
                  </property>
                  <property
                        brief="Oscillator Bypass, activate if the board uses an\nexternal oscillator."
                        default="false"
                        editable="true"
                        name="Oscillator Bypass"
                        required="true"
                        type="boolean">
                  </property>
               </group>
               <group
                     name="I/O Settings">
                  <description>
                     I/O pins related settings.
                  </description>
                  <property
                        brief="Default setting for all the unused pins on the board."
                        default="1"
                        editable="true"
                        name="Unused Pins Mode"
                        required="true"
                        type="enum"
                        value="MODE_RESET,MODE_UNCONNECTED,MODE_INPUT,MODE_INPUT_PULLUP,MODE_INPUT_PULLDOWN,MODE_INPUT_ANALOG,MODE_OUTPUT_PUSHPULL,MODE_OUTPUT_OPENDRAIN,MODE_OUTPUT_ALTERNATE(0),MODE_OUTPUT_ALTERNATE(1),MODE_OUTPUT_ALTERNATE(2),MODE_OUTPUT_ALTERNATE(3)">
                  </property>
                  <property
                        brief="Pin modes to be programmed when the HAL is initialized."
                        editable="true"
                        length="0"
                        name="Pins List"
                        required="true"
                        type="list"
                        value="Pin Identification|Port,Pin Identification|Bit,Pin Identification|Identifier,Settings|Pin Mode,Settings|Latched State">
                     <groups
                           name="Pin Settings">
                        <description>
                           Pin initialization data and identification. Note, setting of alternate function requires knowledge of the HW details, please consult the table 7 in section 3 &quot;Pin Muxing&quot; of the Reference Manual.
                        </description>
                        <group
                              name="Pin Identification">
                           <description>
                              Pin identification properties.
                           </description>
                           <property
                                 brief="Pin Identifier, a macro is generated prefixed with\nthe port name."
                                 default="pin_name"
                                 editable="true"
                                 name="Identifier"
                                 regex="[a-zA-Z_][a-zA-Z0-9_]*"
                                 required="true"
                                 type="string">
                           </property>
                           <property
                                 brief="Port where the pin belongs to."
                                 default="0"
                                 editable="true"
                                 name="Port"
                                 required="true"
                                 type="enum"
                                 value="PORT_A,PORT_B,PORT_C,PORT_D,PORT_E,PORT_F,PORT_G,PORT_H">
                           </property>
                           <property
                                 brief="Pin bit number within the specified port, note, pin 0\n is the most significant bit within the port."
                                 default="0"
                                 editable="true"
                                 name="Bit"
                                 required="true"
                                 type="enum"
                                 value="0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15">
                           </property>
                        </group>
                        <group
                              name="Settings">
                           <description>
                              Pin state and mode settings.
                           </description>
                           <property
                                 brief="Pin modes such as direction, pull-up/down resistors etc."
                                 default="1"
                                 editable="true"
                                 name="Pin Mode"
                                 required="true"
                                 type="enum"
                                 value="MODE_RESET,MODE_UNCONNECTED,MODE_INPUT,MODE_INPUT_PULLUP,MODE_INPUT_PULLDOWN,MODE_INPUT_ANALOG,MODE_OUTPUT_PUSHPULL,MODE_OUTPUT_OPENDRAIN,MODE_OUTPUT_ALTERNATE(0),MODE_OUTPUT_ALTERNATE(1),MODE_OUTPUT_ALTERNATE(2),MODE_OUTPUT_ALTERNATE(3)">
                           </property>
                           <property
                                 brief="Logic state to be latched into the output register."
                                 default="0"
                                 editable="true"
                                 name="Latched State"
                                 required="true"
                                 type="enum"
                                 value="LOW,HIGH">
                           </property>
                        </group>
                     </groups>
                  </property>
                  <property
                        brief="Settings related to the alternate\ninputs (PSMI register in SIUL)."
                        editable="true"
                        length="8"
                        max="8"
                        min="8"
                        name="Alternate Inputs"
                        required="true"
                        type="list"
                        value="PADSEL Fields|PADSEL0,PADSEL Fields|PADSEL1,PADSEL Fields|PADSEL2,PADSEL Fields|PADSEL3">
                     <groups
                           name="PSMI register settings">
                        <description>
                           PSMI register initialization. Note, setting of alternate function requires knowledge of the HW details, please consult the table 111 &quot;Pad Selection&quot;  in section 1 &quot;System Integration Unit (SIUL)&quot; of the Reference Manual.
                        </description>
                        <group
                              name="PADSEL Fields">
                           <description>
                              PADSEL fields initialization. Note, setting of alternate function requires knowledge of the HW details, please consult the table 111 &quot;Pad Selection&quot;  in section 1 &quot;System Integration Unit (SIUL)&quot; of the Reference Manual.
                           </description>
                           <property
                                 brief="PADSEL0 field setting."
                                 default="0"
                                 editable="true"
                                 name="PADSEL0"
                                 required="true"
                                 type="enum"
                                 value="0,1,2,3">
                           </property>
                           <property
                                 brief="PADSEL1 field setting."
                                 default="0"
                                 editable="true"
                                 name="PADSEL1"
                                 required="true"
                                 type="enum"
                                 value="0,1,2,3">
                           </property>
                           <property
                                 brief="PADSEL2 field setting."
                                 default="0"
                                 editable="true"
                                 name="PADSEL2"
                                 required="true"
                                 type="enum"
                                 value="0,1,2,3">
                           </property>
                           <property
                                 brief="PADSEL3 field setting."
                                 default="0"
                                 editable="true"
                                 name="PADSEL3"
                                 required="true"
                                 type="enum"
                                 value="0,1,2,3">
                           </property>
                        </group>
                     </groups>
                  </property>
               </group>
               <group
                     name="Initialization Code">
                  <description>
                     Code snippets to be executed at system initialization. Ident the code using two spaces in order to ensure generated code formatting.
                  </description>
                  <property
                        brief="Code to be executed immediately after clock initialization and before C runtime initialization."
                        editable="true"
                        name="Early Initialization Code"
                        required="false"
                        type="formatted">
                  </property>
                  <property
                        brief="Code to be executed immediately after C runtime initialization and before any defined constructor."
                        editable="true"
                        name="Late Initialization Code"
                        required="false"
                        type="formatted">
                  </property>
                  <property
                        brief="Code to be executed after the HAL has been initialized, board-related initializations should go here."
                        editable="true"
                        name="Board Initialization Code"
                        required="false"
                        type="formatted">
                  </property>
               </group></groups>
            <exportedFeatures>
               <exportedFeature
                     brief="Board definitions interface."
                     exclusive="true"
                     id="org.chibios.spc5.features.board">
               </exportedFeature>
            </exportedFeatures>
      </component>
   </extension>

</plugin>
